/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    /*font-weight: 30;*/
    font-style: normal;
}

:root{
    --PrimaryColor: hsl(199,100%,33%);
    --SecondaryColor: hsl(187,85%,43%);
    --gradientColor: linear-gradient(to right, hsl(187,85%,43%),hsl(199,100%,33%));
    --blackColor: hsl(201, 33%, 16%);
    --whiteColor: hsl(0, 6%, 100%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --textColor: hsl(240, 4%, 36%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 246);
    --cardBG: rgb(225, 225, 235);
    --cardHover: rgb(255, 255, 255);
    --HoverColor:hsl(94,59%,35);
    --palaGreen:hsl(96,75%,89);
    --itemCardColor:hs1(120,5%, 88%);
    --itemCardHover:hs1(120,27%, 87%);


    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: .938rem;
    --smallFontSize: .813rem;
    --smallestFontSize: .75rem;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}

li{
    list-style: none;
}

.section{
    padding: 4rem 0 2rem;
}

.container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.icon {
    font-size: var(--h2FontSize);
    cursor: pointer;

}

.flex{
    display: flex;
    align-items: center;
}
.grid{
    display: grid;
    align-items: center;
}
.btn{
    padding: .6rem 1.5rem;
    background: var(--gradientColor);
    border-radius: 3rem;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 4px var(--inputColor);
}
.btn a{
    color: var(--whiteColor);
    font-weight: 500;
}
.btn:hover{
    background: var(--SecondaryColor);
}

input{
    font-size: 100%;
}
body{
    background: var(--bodyColor);
}

@media screen and (min-width: 1240px){
    .container{
        width: 80% !important;
        margin: auto !important;
    }
    .section{
        padding: 6rem 0 4rem ;
    }
}

@media screen and (min-width: 2560){
    body{
        zoom: 1.7;
    }
}
.activitySection{
    flex-basis: 50%;

    .heading{
        width: 100%;
        justify-content: space-between;


        h1{
            font-size: var(--h2FontSize);
            color: var(--blackColor);
            font-weight: 700;
        }

        .btn{
            border: 1px solid transparent;
        }

        .btn:hover{
            border: 1px solid var(--PrimaryColor);
        }
    }
    .secContainer{
        margin-top: 1rem;

        .singleCustomer{
            align-items: flex-start;
            justify-content: space-between;


            img{
                width: 40px;
                height: 40px;
                object-fit: cover;
                border-radius: 50%;
                box-shadow: 0 2px 4px var(--itemCardColor);
                margin-right: 1rem;
            }

            .customerDetails{
                flex: 1;


                .name{
                    font-size: var(--h3FontSize);
                    font-weight: 600;
                    color: var(--blackColor);
                    display: block;
                }

                small{
                    font-weight: 500;
                    color: var(--textColor);
                    font-size: var(--smallFontSize);
                }
            }
            .duration{
                color: var(--textColor);
                font-weight: 500;
                font-size: var(--smallestFontSize);
            }
        }
    }
}